<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" href="/static/css/doc/doc.css">
    <title>Documentation</title>
</head>
<body>
    <section id="head">
        <h1>Documentation</h1>
    </section>

    <section id="summary">
        <div id="container">
            <div id="left-container" class="container">
                <p class="main"><a href="#lobby">1. Lobby</a></p>
                <p class="sub"><a href="#lob-tables">A. Tables</a></p>
                <p class="sub"><a href="#lob-create">B. Créer un salon</a></p>
                <p class="sub"><a href="#lob-sup">C. Supprimer un salon</a></p>
                <p class="sub"><a href="#lob-reinit">D. Réinitialiser un salon</a></p>
                <p class="sub"><a href="#lob-qrcode">E. Générer des QR-codes</a></p>
                <p class="sub"><a href="#lob-asm">F. Assembler (Inventaires)</a></p>
                <p class="main"><a href="#room">2. Salon</a></p>
                <p class="sub"><a href="#room-tab">A. Tables</a></p>
                <p class="sub"><a href="#room-product">B. Produits</a></p>
                <p class="sub"><a href="#room-fin">C. Finir La réception/ inventaire</a></p>
                <p class="sub"><a href="#room-susp">D. Suspendre la réception/ inventaire</a></p>
                <p class="sub"><a href="#room-recharge">E. Recharger (Commandes)</a></p>
                <p class="sub"><a href="#room-null">F. Nullification (Inventaires)</a></p>
                <p class="sub"><a href="#room-val">G. Validation</a></p>
            </div>
            <div id="right-container" class="container">
                <p class="main"><a href="#odoo-err">3. Erreurs liées à la base de données Odoo</a></p>
                <p class="sub"><a href="#no-rep">A. Inventaires non clos (INVENTAIRES)</a></p>
                <p class="sub"><a href="#no-comd">B. Produits non commandés (COMMANDES)</a></p>
                <p class="sub"><a href="#cb-err">C. Problèmes liés aux codes-barres</a></p>
                <p class="main"><a href="#scanner">4. Configuration du scanner</a></p>
                <p class="sub"><a href="#gen-scan">A. Configuration générale</a></p>
                <p class="sub"><a href="#honey">B. Honeywell EDA52</a></p>
                <p class="sub"><a href="#scan-tips">C. Conseils Supplémentaires</a></p>
                <p class="main"><a href="#license">5. license</a></p>
            </div>
        </div>
    </section>

    <section id="lob">
        <h2 id="lobby">Lobby</h2>
        <p>Le Lobby est la page principale de l'application. Elle sert à <strong>créer et à manager les différents salons</strong>  ouverts dans l'application.
            Un salon peut soit être lié à :
        </p>
        <ul>
            <li><strong>Une commande</strong>. Le salon se modélise autour d'une commande choisie.</li>
            <li><strong>Un inventaire</strong>. Le salon se modélise autour d'une catégorie de produit.</li>
        </ul>
        <p>Le lobby permet de suivre précisément le processus et statut de chaque commande et inventaires au travers de différentes tables.</p>
        <h3 id="lob-tables">Tables</h3>
        <p>Le lobby se divise en 3 tables relatant les différentes phases du processus :</p>
        <ul>
            <li><strong>Ouverts</strong> : contient les salons de commandes/Inventaires, en attente de réception ou en cours de réception.
                <br>Ces salons sont accessibles pour tout coopérateur. Une fois la réception terminée, le salon passe 
                à la phase de vérification.
            </li>
            <li><strong>Vérification</strong> : contient tous les salons qui sont en cours de vérification par un administrateur.
                <br>Ces salons ne sont accessibles que pour un administrateur connecté. Valider le salon
                et la conformité de ses données, conduit à l'envoi des données sur Odoo.
            </li>
            <li><strong>Historique</strong> : contient tous les salons ayant été clôturés et vérifiés. Les données de ces salons ont été transférées sur Odoo.</li>
        </ul>

        <h3 id="lob-create">Créer un salon</h3>
        <p><strong>Seuls les administrateurs peuvent créer des salons</strong></p>
        <p>Dans l'onglet de création de salon: </p>
        <ul>
            <li>Vous pouvez switcher entre la réception de commande et la réalisation d'inventaire.</li>
            <li><strong>Commandes</strong> : choisissez une commande parmi la liste de toutes les commandes en cours passée par la coopérative.</li>
            <li><strong>Inventaire</strong> : choisissez une catégorie de produit parmi toutes les catégories définies dans votre Odoo.
                <br> <strong>Attention</strong>, certaines catégories seront certainement vides. 
                Il est préférable de prendre les catégories les plus avancées dans la nomenclature.
                <br>Exemple: vous avez deux catégories : "Boissons" et "Boissons/eau-gazeuse". 
                La catégorie "Boissons/eau-gazeuse" est une catégorie enfant de "Boissons".
                Choisissez "Boissons/eau-gazeuse", car les produits seront dans cette catégorie plutôt que dans la catégorie "Boissons."
                <br><strong>Les catégories d'inventaire servent de modèles</strong>, 
                vous pouvez toujours scanner des produits hors catégories, voir faire tout l'inventaire de votre magasin dans un seul salon.
            </li>
            <li><strong>Définir un nom</strong> : le nom de salon est <strong>facultatif</strong>. 
                Cependant, il est aide à facilement reconnaître un salon d'un autre si vous avez plusieurs commandes du même fournisseur par exemple.
                <br>Si aucun nom n'est indiqué lors de la création du salon, celui-ci sera l'identifiant interne du salon à savoir "room" suivi d'un nombre.
            </li>
            <li><strong>Définir un mot de passe</strong> : ajouter un mot de passe est <strong>facultatif</strong>. 
                Il peut cependant être une sécurité supplémentaire si toutefois cela est utile ou nécessaire.
            </li>
        </ul>

        <p><strong>Inventaire uniquement</strong> : lors de la création d'un inventaire, ce n'est pas un, mais <strong>deux salons (1) rayons et (2) stocks</strong>
             qui sont crées. Vous pouvez ainsi gérer séparément les rayons et les stocks avant de pouvoir 
             <a href="#lob-asm">assembler</a> les deux salons lors de la phase de validation.
        </p>

        <p><strong>La liste des commandes et des catégories de produits est mise à jour chaque nuit.</strong></p>
        <p><strong>Vous ne pouvez actuellement créer un salon qui ne repose pas sur une commande ou une catégorie de produit.</strong></p>

        <h3 id="lob-sup">Supprimer un salon</h3>
        <p><strong>Seuls les administrateurs peuvent supprimer des salons.</strong></p>
        <p>Supprimer un salon, est l'équivalent de <a href="#room-susp">suspendre la réception/inventaire</a>.
            Cette action retire le salon de la table "en cours" du lobby en conservant les données et l'avancement du salon. 
            Si vous souhaitez supprimer également les données d'un salon, 
            il est conseillé de <a href="#lob-reinit">réinitialiser</a> le salon avant de le supprimer.
            Un salon supprimé peut toujours être recréé tant que la commande/inventaire auquel il est lié est toujours en cours.
            Vous ne pouvez supprimer que les salons encore en cours.
        </p>

        <h3 id="lob-reinit">Réinitialiser un salon</h3>
        <p><strong>Seuls les administrateurs peuvent réinitialiser des salons.</strong></p>
        <p>Réinitialiser un salon signifie que vous le ramenez à son état d'origine. 
            Ainsi, toute modification que vous aurez pu apporter à la commande/inventaire sera supprimée
        </p>

        <h3 id="lob-qrcode">Générer des QR-codes</h3>
        <p><strong>Seuls les administrateurs peuvent générer des QR-codes.</strong></p>
        <p>Afin de faciliter l'accès aux salons et de limite l'accès au lobby, 
            vous pouvez générer un PDF contenant les QR-codes des salons sélectionnés.
            Scanner le QR-conde vous conduira vers la page du salon.
        </p>
        <p><Strong>Assurez-vous que votre browser accepte les "pop-up"</Strong>. 
            En effet, le PDF est généré sur une nouvelle page, 
            mais celle-ci peut être confondue avec un "pop-up" par certains browsers, 
            bloquant ainsi la génération du PDF.</p>

        <h3 id="lob-asm">Assembler (Inventaires)</h3>
        <p><strong>Seuls les administrateurs peuvent assembler des salons.</strong></p>
        <p>Une fois les inventaires "stock" et "rayon" réalisé, vous pouvez assembler les deux salons afin de centraliser les données dans un salon unique.
            Durant ce processus :
        </p>
        <ul>
            <li>Les quantités "stock" et "rayon" d'un même produit seront additionné.</li>
            <li>L'un des salons est supprimé.</li>
            <li>Le salon restant est renommé : la particule "Assemblé" s'ajoute au nom du salon.</li>
        </ul>
        <p><strong>Il est nécessaire de sélectionner deux salons d'inventaire lié à la même catégorie.</strong></p>
        <p><strong>Vous ne pouvez pas assembler deux commandes.</strong></p>

    </section>

    <section id="ro">
        <h2 id="room">Salon</h2>
        <p>Un salon est une <strong>instance</strong> contenant les données d'une <strong>livraison</strong> pour les commandes 
            ou d'une <strong>catégorie de produit</strong> pour les inventaires.
            Cet espace permet de traiter les commandes et inventaires en scannant puis vérifiant les produits et leurs quantités.
        </p>
        <p>Les salons sont conçus pour recevoir plusieurs utilisateurs simultanément.
            Chaque utilisateur peut interagir avec le salon, 
            ses modifications seront envoyées en temps réel aux autres utilisateurs présent sur le salon.
            L'idée est de faciliter la coopération et l'efficience des réceptions de commandes en les réalisant à plusieurs.
        </p>
        <h3 id="room-tab">Tables</h3>
        <p>Un salon est composé de trois tables de produits :</p>
        <ul>
            <li><strong>1. Les produits commandés</strong>. Cette table contient tous les produits d'origine de la livraison ou de la catégorie de produits.</li>
            <li><Strong>2. Les produits scannés</Strong>. Cette table contient tous les produits que vous avez scannés, mais pas encore vérifiés ou modifiés.
                <br>Si vous scannez un produit qui n'est pas dans les produits commandés, ceux-ci apparaîtront en violet ou en rouge (voir la nomenclature des produits plus bas).
                <br>Vous devez vérifier, voir modifier les quantités du produit pour que celui passe dans la table finale.
            </li>
            <li><strong>3. Les produits validés</strong>. Cette table contient tous les produits vérifiés !
                <br><strong>Uniquement les produits de cette liste sont envoyés sur Odoo lors de la validation du salon !</strong>
            </li>
        </ul>
        <p>Vous pouvez <strong>plier et déplier les tables</strong> en interagissant avec les noms de tables.</p>

        <h3 id="room-product">Produits</h3>
        <p>Les produits peuvent apparaître de plusieurs couleurs en fonction de leur statut par rapport à la commande/inventaire en cours.</p>
        <ul>
            <li><strong>Bleue (normal)</strong> : produit appartenant à la commande/inventaire initiale</li>
            <li><strong>Orange (modification)</strong>: produit ayant subi au moins une modification durant le processus.
                <br>Le produit reste en orange même si vous remettez la quantité d'origine. 
                C'est un moyen de montrer que des manipulations ont été réalisées sur le produit.
            </li>
            <li><strong>Violet (nouveau produit, non étrangé à Odoo)</strong> : le produit n'appartient à l'origine pas à la commande/inventaire. 
                Cependant, le produit existe dans la base de données Odoo. 
                <br><strong>a.  INVENTAIRES</strong> : Il est normal d'avoir des produits violets pendant un inventaire !
                <br><strong>b.  COMMANDES</strong> : les produits violets indiquent une erreur fournisseur ou de commande. 
                <strong>Veuillez pleinement considérer ces produits avant de valider une commande</strong>.
            </li>
            <li><strong>Rouge (nouveau produit)</strong>: le produit n'appartient à l'origine pas à la commande/inventaire.
                <br>Le produit est également inconnu des bases de données Odoo. <strong>Le produit est vecteur d'erreur !</strong>
                <br>Ajouter le produit dans les bases de données Odoo ou supprimer le produit du salon 
                sont deux solutions viables face à un produit rouge.
            </li>
        </ul>

        <p><strong>Cheminement des produits durant le processus de réception/inventaire</strong> :
            <br>Produits commandés/possedés > produits scannés > produits validés
            <br>En tant qu'administrateur, pouvez durant le processus de validation, validé un produit directement sans avoir à le scanner.
        </p>
        <p>En tant qu'administrateur, vous pouvez supprimer des produits. 
            Cochez les produits que vous souhaitez supprimer (haut gauche de chaque bulle de produit).
            Puis cliquez sur le bouton "supprimer" sous la table contenant les produits cochés.
        </p>

        <h3 id="room-fin">Finir la réception/inventaire</h3>
        <p>Cette action permet de <strong>clore la phase de réception/inventaire</strong>, 
            afin de soumettre les données du salon à la vérification d'un administrateur.
            <br>Une fois un salon clos :
        </p>
        <ul>
            <li>Le salon n'est accessible que pour les administrateurs.</li>
            <li>Le salon est désormais dans la table "Vérification" du Lobby.</li>
            <li>Une commande en vérification est toujours modifiable.</li>
        </ul>

        <h3 id="room-susp">Suspendre la réception/inventaire</h3>
        <p><strong>Seuls les administrateurs peuvent suspendre un salon</strong></p>
        <p>Suspendre un salon permet de fermer temporairement le salon sans altérer ses données, ni mettre le salon en vérification.
            <br>Une fois un salon suspendu :
        </p>
        <ul>
            <li>Le salon est supprimé de la table "en cours" du Lobby.</li>
            <li>Un administrateur peut à nouveau crée le salon en suivant le processus normal de création de salon.</li>
            <li>Les données restent sauvegardées dans l'application, vous pourrez reprendre la commande "tel quel" une fois le salon réouvert.</li>
        </ul>

        <h3 id="room-recharge">Recharger (Commandes)</h3>
        <p><strong>Seuls les administrateurs peuvent recharger un salon.</strong></p>
        <p>Recharger un salon permet de synchroniser les données Odoo telles que les produits ou la commandes, afin de mettre à jour les données du salon
            par exemple : vous avez un produit rouge dans votre salon et vous souhaitez valider la commande avec ce produit rouge. 
            Vous ajoutez donc le produit dans Odoo. Vous rechargez le salon afin de mettre que le produit soit également à jour dans l'application.
            Vous pouvez ensuite valider la commande sans problème.
        </p>

        <h3 id="room-null">Nullification (Inventaires)</h3>
        <p><strong>Seuls les administrateurs peuvent nullifier les produits d'un salon lors de la phase de validation.</strong></p>
        <p>La nullification permet d'automatiquement ramener tous les produits qui ne sont pas encore dans la table validée, en nullifiant leurs quantités. 
            Cette fonctionnalité est utile une fois l'inventaire clos, afin que tous les produits n'ayant pas été trouvés durant l'inventaire puissent être 
            envoyés vers Odoo avec une quantité nulle.
        </p>

        
        <h3 id="room-val">Validation</h3>
        <p><strong>Seuls les administrateurs peuvent valider un salon, uniquement lors de la phase de validation.</strong></p>
        <p>La validation permet d'envoyer les données vers Odoo. 
            Vous avez l'option de valider automatiquement la commande/inventaire une fois les données reçues sur Odoo.
            Si cette option n'est pas activée, vous devez aller sur Odoo pour finaliser la réception/iventaire de manière traditionnelle.
        </p>
        <p><strong>Si une erreur se produit</strong>, une fenêtre décrivant le problème, ainsi que les produits concernée s'ouvre.
            Veuillez vous référer à la partie <a id="odoo-err" href="#odoo-err">Erreurs liées à la base de données Odoo</a> afin de résoudre le problème.
        </p>
        <p>Une fois un salon validé :</p>
        <ul>
            <li>Le salon est désormais dans la table Historique du Lobby. Il y restera une semaine, avant d'être supprimé de l'application.</li>
            <li>Les données sont envoyées vers Odoo. L'envoi peut prendre plusieurs dizaines de secondes pour des grands salons.</li>
        </ul>
    </section>

    <section id="odoo">
        <h2 id="odoo-err">Erreurs liées à la base de données Odoo.</h2> 
        <p>l'application est assez précautionneuse quant à ces interactions avec Odoo. 
            Des vérifications nécessaires sont mises en place avant de partager des données avec Odoo. 
            Quand les données de la base de données ne sont pas claires, que certains processus ou produits entre en conflits,
            l'application va abandonner le processus en cours tout en vous partageant des informations sur l'erreur survenue
            ainsi que les produits concernés (ces informations peuvent également être envoyées par mail quand l'option est activée).
        </p>

        <p>Cette section va <strong>détailler les différentes erreurs Odoo</strong> 
            que vous pourrez rencontrer et <strong>comment les résoudre</strong>.
        </p>

        <h3 id="inv-no-clos">Inventaires non clos (Inventaires)</h3>
        <p>Odoo interdit toute manipulation d'un produit si celui est en cours d'inventaire. 
            Ainsi, il est simplement impossible de le vendre ou encore de le lier à un nouvel inventaire ! 
            Il est donc nécessaire de clore l'inventaire précèdent avant d'inventorier à nouveau le produit.
        </p>
        <p><strong>1. </strong>Connecté vous en tant qu'administrateur à Odoo.</p>
        <p><strong>2. </strong>Dans le menu déroulant, sélectionnez <strong>Inventaire</strong>.</p>
        <p><strong>3. </strong>Sélectionnez <strong>Opérations</strong> > <strong>ajustement de stock</strong>.
        <br> Vous arrivez sur une table contenant tous les inventaires précédemment réalisé. 
        La colonne "état" indique si un inventaire a été correctement validé "Validé". <strong>Les inventaires ouverts sont labelé "En cours"</strong>.
        </p>
        <ul>
            <li>A l'aide du message d'erreur de l'application rechercher les produits concernés dans la barre de recherche 
                en spécifiant <strong>"rechercher xxx dans produit d'inventaire"</strong>.
            </li>
            <li><strong>Validez ou annulez</strong> les inventaires encore "En cours".</li>
        </ul>
        <p>Une fois tous les inventaires "En cours" concerné fermé, vous pouvez retenter le processus de validation de votre inventaire.</p>

        <h3 id="no-rep">Produits non répertoriés (Commandes & Inventaires)</h3>
        <p>L'action de scanner des produits peut souvent conduire à intégrer des produits non répertoriés dans la base de données.
            Ceux-ci sont facilement reconnaissables avec leur <strong>couleur rouge</strong> (signifiant un produit externe à la commande ou inventaire)
            et <strong>l'absence de nom de produit</strong> (la seule information que nous avons est le code-barres scanné au préalable).
            Envoyer un produit non répertorié dans Odoo conduit inévitablement à l'annulation du processus. 
            <br>Pour corriger ce problème, il est nécessaire <strong>d'ajouter manuellement le produit dans Odoo</strong>
            ou bien de <strong>supprimer le produit si celui-ci est indésirable</strong>. 
        </p>
        <p><strong>1. </strong>Connecté vous en tant qu'administrateur à Odoo.</p>
        <p><strong>2. </strong>Dans le menu déroulant, sélectionnez <strong>Ventes</strong>.</p>
        <p><strong>3. </strong>Sélectionnez <strong>Articles</strong> > <strong>Articles</strong>.</p>
        <p><strong>4. </strong>Ajoutez un produit en cliquant sur <strong>Créer</strong>.</p>
        <p><strong>Une fois les produits crées :</strong></p>
        <p><strong>5. </strong>Rechargé la commande/inventaire dans l'application en cliquant sur <strong>Recharger</strong> en bas de page.</p>

        <h3 id="no-comd">Produits non commandés (Commandes)</h3>
        <p>(Uniquement si l'option d'ajout automatique des produits non commandés est désactivée)</p>
        <p><br>Les produits non commandés apparaîtront toujours <strong>de couleur rouge</strong>,
            mais contrairement aux <a id="no-rep" href="#no-rep">produits non répertoriés</a>, ceux-ci existent dans Odoo.
            La bulle de produit renseigne donc <strong>le nom</strong> et le <strong>code-barre</strong> des produits.
        </p>
        <p>Il existe deux solutions :</p>
        <ul>
            <li>Demander à votre commission informatique d'activer l'option "ODOO_CREATE_NEW_PURCHASE_LINE" dans le fichier de configuration de l'application.</li>
            <li>Ajouter manuellement les produits dans la commande.</li>
        </ul>
        <p>Pour ajouter manuellement les produits dans une commande :</p>
        <p><strong>1. </strong>Connecté vous en tant qu'administrateur à Odoo.</p>
        <p><strong>2. </strong>Dans le menu déroulant, sélectionnez <strong>Achats</strong>.</p>
        <p><strong>3. </strong>Sélectionnez <strong>Achats</strong> > <strong>Bons de commande</strong>.</p>
        <p><strong>4. </strong>Sélectionnez la référence de commande que vous voulez modifier dans la table.</p>
        <p><strong>5. </strong>Modifiez la commande en cliquant sur <strong>modifier</strong>.</p>
        <p><strong>Une fois les produits crées:</strong></p>
        <p><strong>6. </strong><a href="#room-recharge">Rechargez</a> la commande dans l'application en cliquant sur <strong>Recharger</strong> en bas de page.</p>

        <h3 id="cb-err">Problèmes liés aux codes-barres</h3>
        <p>L'application utilise les codes-barres pour identifier et manipuler les produits.
            Il est assez fréquent de retrouver des erreurs d'attributions ou d'écritures dans la base de données Odoo.
            Bien qu'elles peuvent passer inaperçu habituellement, dans le cadre de l'application,
            ces erreurs peuvent causer l'abandon du processus de validation.
            Il est donc nécessaire de savoir identifier ces produits et de les corriger dans la base de données Odoo.
            <br>Les produits Odoo sont normalement composés de :
        </p>
        <ul>
            <li>Un code-barres principal, censé être unique dans la base de données.</li>
            <li>Des codes-barres alternatifs si nécessaire.</li>
        </ul>
        <p>Des problèmes peuvent survenir quand :</p>
        <ul>
            <li>Plusieurs produits ont le même code-barres principal.</li>
            <li>Un code-barres est à la fois le code-barres principal d'un produit et le code-barres alternatif d'un autre produit.</li>
            <li>Plusieurs produits possède le même code-barres alternatif.</li>
        </ul>
        <p>Dans tous les cas, une erreur survient quand un code-barres est partagé entre plusieurs produits.
            Il est donc assez simple de vérifier sur Odoo si effectivement, il s'agit d'un problème de code-barres.
        </p>
        <p><strong>1. </strong>Connecté vous en tant qu'administrateur à Odoo.</p>
        <p><strong>2. </strong>Dans le menu déroulant, sélectionnez <strong>Ventes</strong>.</p>
        <p><strong>3. </strong>Sélectionnez <strong>Articles</strong> > <strong>Articles</strong>.</p>
        <p><strong>4. </strong>Recherchez les codes-barres dans l'onglet de recherche en spécifiant "Articles".</p>
        <p>Dans le cas où plusieurs produits ressortent de votre recherche, vérifiez l'unicité de chaque code-barres 
            et supprimez ceux qui sont attribué à des produits inappropriés.
            <br> A l'issue, il faut que :
        </p>
        <ul>
            <li>Chaque code-barres soit unique.</li>
            <li>Chaque code-barres soit attribué à un unique produit.</li>
            <li>Chaque produit concerné a un code-barres principal et des codes-barres alternatifs si nécessaire.</li>
        </ul>
        <p>Une fois toutes les modifications réalisées, vous pouvez retenter la validation de la commande/inventaire.</p>
    </section>

    <section id="hardware">
        <h2 id="scanner">Configuration du Scanner</h2>
        <p>Détaille la configuration d'un scanner Honeywell pour le bon fonctionnement de l'application.
         Les configurations suivantes ont été réalisées sur un Honeywell EDA52. 
         Ce processus peut très certainement être suivi pour d'autre scanner de la gamme Honeywell.
         Dans le cas où vous souhaiteriez utiliser un autre scanner, 
         veuillez suivre les instructions de la sous-partie <a href="#gen-scan">configuration générales</a>.
        </p>
        <h3 id="gen-scan">Configuration générale</h3>
        <p>Pour que le scanner fonctionne correctement dans l'application, il est nécessaire de respecter plusieurs conditions :</p>
        <ul>
            <li>Interprète les symboles EAN13 et EAN8.</li>
            <li>Retourne le check digit avec le code-barres.
                <br>Dans un code-barres (EAN13 par exemple), le dernier chiffre est appelé "check digit", 
                car il permet de vérifier si le reste du code-barres est cohérent. 
                Certains scanners n'ajoutent pas automatiquement ce chiffre.
                Vous pouvez vérifier sa présence en comptant le nombre de chiffres présents dans le code-barres.
                Vous devez en trouver 13 pour les EAN13. Si vous en avez 12, 
                votre scanner doit être configuré pour ajouter automatiquement le "check digit".
            </li>
            <li>Simule l'activation de la touche Entrée à la fin du processus.</li>
        </ul>
        <p>De manière générale, les scanners respectent directement ces différents critères.
            <br>Ce n'est néanmoins pas le cas du Honeywell EDA52.
        </p>
        <h3 id="honey">Honeywell EDA52</h3>
        <p>Pour configurer votre scanner Honeywell EDA52, et possiblement, d'autres scanner de la même gamme :</p>
        <p><strong>1. </strong>Sur l’écran principal glisser vers le haut pour ouvrir la liste des applications</p>
        <p><strong>2. </strong>Ouvrir l'application <strong>Honeywell settings</strong>  > <strong>scanning</strong> > <strong>internal scanner</strong> > <strong>Default profile</strong></p>
        <p><strong>3. </strong>Ouvrir <strong>Data processing settings</strong> et vérifier/modifier les valeurs :</p>
        <ul>
            <li>wedge method: keyboard</li>
            <li>suffix: \X0D</li>
            <li>wedge as key: 9,10,13</li>
        </ul>
        <p><strong>4. </strong> Ouvrir <strong>Symbology setting</strong> et vérifier/modifier les valeurs :</p>
        <p>(les lignes sont également des onglet caché qui permettent d’accéder à des options cachées importantes pour le fonctionnement de l’application)</p>
        <ul>
            <li>EAN13 est coché + ouvrir > cocher send check digit.</li>
            <li>EAN8 est coché + ouvrir > cocher send check digit.</li>
            <li>Modifiez d'autres types de code-barres si nécessaire.</li>
        </ul>

        <h3 id="scan-tips">Conseils Supplémentaires</h3>
        <p>Dans le cas où vous utiliseriez un smartphone ou un appareil Honeywell.
            Il est intéressant <strong>d'augmenter le délai de mise en veille</strong> de l'appareil 
            et d'être <strong>connecté au WI-FI</strong>.
        </p>
    </section>

    <section id="lic">
        <h2 id="license">License</h2>
        <p>Cette application est sous <a href="https://www.gnu.org/licenses/gpl-3.0.txt", target="_blank">licence GPLv3</a>.</p>
    </section>

    <section id="footer">

    </section>
</body>
</html>