<!DOCTYPE html>
<html id="html" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scannettes | Lobby</title>
    <link rel="stylesheet" media="all" href="/static/css/lobby/lobby.css">
    <link rel="stylesheet" media="all" href="/static/css/common/header.css">
    <link rel="stylesheet" media="all" href="/static/css/lobby/table.css">
    <link rel="stylesheet" media="all" href="/static/css/common/notifications.css">
    <link rel="stylesheet" media="all" href="/static/css/common/components.css">
    <link rel="stylesheet" media="all" href="/static/css/common/modals.css">
    <link rel="stylesheet" media="all" href="/static/css/common/forms.css">
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
</head>

<body>
    <main>
        <div class="header">
            <div class="head-container">
                <img class="head-elm" src="../static/misc/superquinquin_logo2.png">
                <h1 id="title" class="head-elm">Scannettes</h1>
                <div class="nav-container">
                    <ul class="nav">
                        <li class="nav-elm"><a id="doc" class="head-elm" href="{{ url_for('scannettes_bp.doc') }}"><strong>Documentation</strong></a></li>
                        <li class="nav-elm"><a id="login" class="head-elm" href="{{ url_for('scannettes_bp.login') }}"><strong>Se connecter</strong></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="msg-box" class="fx"></div>
        <div id="open-container" class="table-container">
            <div class="table-header-container">
                <h2>Salons</h2>
            </div>
            <div id="admin-wrapper">
                <div class="admin-container">
                    <div class="search">
                        <input id="searchbar" class="searchbar border" type="text" placeholder="Rechercher un salon / commande..." onkeyup="searchRoom(event)">
                        <button id="reset-searchbar" class="reset-searchbar border" onclick="resetSearch('purchased')">&#10006</button>
                    </div>
                    <div class="wrapper">
                        <div id="actions" class="management"></div>
                    </div>
                </div>
                <div class="table border">
                    <div class="col-header-container">
                        <div class="col-header">
                            <div class="header-cell">&#9989;</div>
                            <div class="header-cell" onclick="tableSort(this)">Nom&ensp;<span id="rname-order" class="order">-</span></div>
                            <div class="header-cell" onclick="tableSort(this)">Commande / Inventaire&ensp;<span id="pname-order" class="order">-</span></div>
                            <div class="header-cell" onclick="tableSort(this)">Statut&ensp;<span id="pstate-order" class="order">-</span></div>
                            <div class="header-cell" onclick="tableSort(this)">Date&ensp;<span id="pdate-order" class="order">-</span></div>
                            <div class="header-cell">Mot de passe</div>
                        </div>
                    </div>
                    <div id="room-table"></div>
                </div>
            </div>
        </div>
    </main>

    <div id="creation-modal" class="modal-blur">
        <div id="back-container" class="creation-modal border">
            <div class="centered padded">
                <div class="modal-section">
                    <div class="switch-button">
                        <input id="pType-check" class="switch-button-checkbox" type="checkbox" onclick="switchContainer()">
                        <label class="switch-button-label" for=""><span class="switch-button-label-span">Commande</span></label>
                    </div>
                </div>

                <div class="modal-section">
                    <div id="purchase-container" class="selector" style="display: block;">
                        <div class="field fblock">
                            <label class="field-label fblock" for="purchases">Commande :</label>
                            <select id="purchases" class="fblock field-sel-inp border"></select>  
                        </div>
                    </div>
                    <div id="inv-container" class="selector" style="display: none;">
                        <div class="field">
                            <label class="field-label fblock" for="categories">Inventaire :</label>
                            <select id="categories" class="field-sel-inp border">
                                <option value="">Aucune</option>
                            </select>  
                        </div>
                    </div>
                    <div class="field">
                        <label class="field-label" for="room-name">Définir un nom (recommandé) :</label>
                        <input id="room-name" class="field-text-inp border imargin" type="text" value="" placeholder="Nom de Salon...">
                    </div>
                    <div class="field">
                        <label class="field-label" for="room-password">Définir un mot de passe (facultatif) :</label>
                        <input id="room-password" class="field-text-inp border imargin" type="password" autocomplete="off" value="" placeholder="Mot de passe...">
                    </div>
                    <p id="creation-info"></p>
                </div>
                <div class="modal-section">
                    <div class="centered-btn">
                        <button id="CancelRoom" class="btn-large border margin" onclick="creationModal()">Annuler</button>   
                        <button id="createRoom" class="btn-large border margin" onclick="createRoom()">Confirmer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="confirmation-modal" class="modal-blur">
        <div id="confirmation-container" class="confirmation-modal border">
            <div class="modal-section"><div class="modal-header"><p id="heading-message"></p></div></div>
            <div class="modal-section modal-content">
                <p id="content-message"></p>
                <div id="open-content" class="open-content"></div>
            </div>
            <div class="modal-section">
                <div class="centered-btn">
                    <button id="cancel-confirmation" class="btn-large border margin" onclick="CloseCModal()">Annuler</button>   
                    <button id="accept-confirmation" class="btn-large border margin">Confirmer</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/static/js/common/config.js"></script>
    <script type="text/javascript" src="/static/js/common/utils.js"></script>
    <script type="text/javascript" src="/static/js/common/notifications.js"></script>
    <script type="text/javascript" src="/static/js/common/confmodal.js"></script>
    <script type="text/javascript" src="/static/js/lobby/table.js"></script>
    <script type="text/javascript" src="/static/js/lobby/sort.js"></script>
    <script type="text/javascript" src="/static/js/lobby/searchbar.js"></script>
    <script type="text/javascript" src="/static/js/lobby/creationmodal.js"></script>
    <script type="text/javascript" src="/static/js/lobby/utils.js"></script>
    <script type="text/javascript" src="/static/js/lobby/callbacks.js"></script>
</body>
</html>