
application/config.py
application/static/js/config.js
application/static/js/*/unified*.js
application/whitelist.txt
volume/
dist/
*.pickle
*.log
*.pyc
cannettes_configs/*.yaml
.venv
docker-compose.yml
test.py