version: "3"

services:
  inventaire:
    build: .
    container_name: inventaire
    environment:
      ERPPEEK_ADDRESS: '??'
      ERPPEEK_API_URL: '??'
      ERPPEEK_API_DB: '??'
      ERPPEEK_SERVICE_ACCOUNT_LOGGIN: '??'
      ERPPEEK_SERVICE_ACCOUNT_PASSWORD: '??'
      APP_CONFIG: 'staging'
    ports:
      - "8000:8000"
    networks:
      - inventaire
    volumes:
      - ./volume:/usr/src/app/volume

networks:
  inventaire:


