[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "*"
numpy = "==1.21.5"
pandas = "==1.3.5"
Flask = "==2.1"
Flask-SocketIO = "==4.3.1"
Werkzeug = "==2.0.0"
ERPpeek = "*"
python-socketio = "==4.6.0"
python-engineio = "==3.13.2"
importlib-metadata = "*"
uwsgi = "*"
gevent = "*"
fpdf2 = "*"
pillow = "*"
qrcode = "*"

[dev-packages]

[requires]
python_version = "3"

[packages.pyzbar]
extras = [ "scripts",]
version = "*"

[packages.colorama]
version = "*"
sys_platform = "!='fake'"
