[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
eventlet = "*"
pyzbar = "*"
python-dateutil = "*"
numpy = "*"
pandas = "*"
Flask = "==2.1"
Flask-SocketIO = "==4.3.1"
Werkzeug = "==2.0.0"
ERPpeek = "*"

[dev-packages]

[requires]
python_version = "3.8"
