<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" href="/static/css/login.css">
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script> -->
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>

    <title>Login</title>
  </head>
  <body>
    <div id="logger">
      <h3 >Identifiant</h3>
      <input id="identifiant" type="text" value="">
      <h3>Mot de Passe</h3>
      <input id="password" type="password" value="">
      <button id="connection-btn">Connexion</button>
      <p id="error-msg"></p>
    </div>

    <script type="text/javascript" src="/static/js/login/unified.js"></script>
  </body>
</html>