<!doctype html>

<html id="html" lang="en">
<head>
  <meta charset="utf-8">
  <title>Salon</title>
  <!-- <link rel="stylesheet" media="all" href="/static/room_mobile.css"> -->
  <link rel="stylesheet" media="all" href="/static/css/room_mobile.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script async src="https://docs.opencv.org/master/opencv.js" type="text/javascript"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
  <script src="https://cdn.rawgit.com/serratus/quaggaJS/0420d5e0/dist/quagga.min.js"></script>
</head>

<body>
  <div id="room-header">
    <h3 id="room-name">Salon : </h3>
    <h5 id="purchase-name">inventaire : </h5>
  </div>

  <div id="scanner-laser-panel">
    <div id="centered">
      <button id="display_modal" class="scanner-btn"><img src="/static/misc/camera-icon.png"></button>
      <button id="display_laser" class="scanner-btn"><img src="/static/misc/laser-icon.png"></button>
    </div>
  </div>

  <div id="modal">
    <div id="modal_block">
      <div id="videobox">
        <canvas id="canvas"></canvas>
        <video autoplay="true" id="videoElement"></video>
        <canvas id="cropped-canvas"></canvas>
      </div>  
      <div id="scanned-item-modal" style="display: none;">
        <p class="situation"></p>
      </div>      
    </div>
  </div>

  <div id="modal-laser">
    <div id="modal-laser-container">
      <div id="modal-laser-head">
        <p id="laser-title"><strong>Veuillez scanner un produit avec un scanner laser</strong></p>
        <input type="text" readonly="readonly" id="laser-output" style="outline: none; border: 0; color: white">
        <div id="errorBox">
          <p id="errorText"></p>
        </div>
      </div>
      <div class="scanned-laser-container">
        <p id="scanned-laser-situation" class="situation">Aucun produit</p>
        <div id="scanned-laser-list" class="list-laser-container"></div>      
      </div>
    </div>
  </div>

  <div id="confirmation-hub-modal" style="display: none;">
    <div id="confirmation-container">
      <div id="confirmation-container-heading">
        <p id="heading-message"></p>
      </div>
      <div id="confirmation-container-content">
        <p id="content-message"></p>
      </div>
      <div id="confirmation-container-btn">
        <button id="cancel-confirmation" onclick="CloseCModal()">Annuler</button>
        <button id="accept-confirmation">Confirmer</button>
      </div>
    </div>
  </div>

  <div id="toTop" style="display: none;">
    <div id="totop-container">
      <button id="totop-btn" onclick="scrolltop()">
        <div id="caret"><p>&#8248</p></div>
        <div id="content"><p><strong>Top</strong></p></div>
      </button>
    </div>
  </div>  

  <div id="stats-block">
    <!-- <p>Il reste <strong>XX</strong> produits à scanner</p> -->
    <p>Il reste </p>
    <p id="nb"><strong>XX</strong></p>
    <p> produits à scanner</p>
  </div>

  <div id="scanned-block" class="list-block">
    <h5 class="title">Produits scannés</h5>
    <div class="scanned-container">
      <p id="scanned-situation" class="situation">Aucun produit</p>
      <div id="scanned-list" class="list-container"></div>      
    </div>
    <button id="del-from-queue" class="btn" onclick="GenerateDelConfimartion('scanned-list')" hidden>Supprimer</button>
  </div>

  
  <div id="purchased-block" class="list-block">
    <button class="collaps-block">Produits en stock</button>
    <div class="container">
      <p id="purchased-situation" class="situation">Aucun produit</p> 
      <div id="purchased-list" class="list-container"></div>  
    </div>
    <button id="del-from-purchased" class="btn" onclick="GenerateDelConfimartion('purchased-list')" hidden>Supprimer</button>
  </div>

  <div id="verified-block" class="list-block">
    <button class="collaps-block">Produits vérifiés</button>
    <div class="container">
      <div id="sub-container">
        <div id="verified-search">
          <input id="search-product" type="text" placeholder="Rechercher nom/code barre de produit" onkeyup="searchVerifiedItem(event)">
          <button id="reset-product-search" onclick="resetVerifiedSearch()">&#10006</button>
        </div>
        <div>
          <p id="verified-situation" class="situation">Aucun produit</p>
          <div id="verified-list" class="list-container"></div>
        </div>
      </div>
    </div>
    <button id="del-from-verfied" class="btn" onclick="GenerateDelConfimartion('verified-list')" hidden>Supprimer</button>
  </div>

  <div id="closing-option">
    <div id="all-user-close">
      <button id="closing-room" class="closing-btn">Finir l'inventaire</button>
    </div>
    <div id="admin-close">
      <div id="suspension-block">
        <button id="room-suspension" class="closing-btn"> Suspendre l'inentaire</button>
      </div id="recharge-block">
      </div>
      <div id="verif-block">
        <button id="room-recharge" class="closing-btn">Nullifier</button>
        <button id="admin-validation" class="closing-btn">Validation</button>
      </div>
    </div>
  </div>
  
  <script type="text/javascript" src="/static/js/config.js"></script>
  <script type="text/javascript" src="/static/js/global_functions.js"></script>
  <script type="text/javascript" src="/static/js/inventory_product.js"></script>
  <script type="text/javascript" src="/static/js/room_mobile.js"></script>
  <script type="text/javascript" src="/static/js/camera.js"></script> 
</body>
</html>
