<!doctype html>

<html id="html" lang="en">
<head>
  <meta charset="utf-8">
  <title>Scanner</title>
  <link rel="stylesheet" media="all" href="/static/css/lobby.css">
  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
</head>

<body>
  <div id="head">
    <div id="head-container">
      <img class="head-content" src="{{url_for('static', filename='misc/superquinquin_logo2.png')}}">
      <h1 id="title" class="head-content">Lobby</h1>
      <div id="fields-container">
        <ul id="head-fields">
          <li><a id="doc" class="head-content" href="{{ url_for('cannettes_bp.doc') }}"><strong>Documentation</strong></a></li>
          <li id="field-space"> </li>
          <li><a id="login" class="head-content" href="{{ url_for('cannettes_bp.login') }}"><strong>Se connecter</strong></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="table-container">
    <div id="room-selection">
      <h3>Salons ouverts</h3>
      <table id="room-listing">
        <tr>
          <th><button id="checkAll"><span>&#9989;</span> Select</button></th>
          <th>Nom</th>
          <th>Commande</th>
          <th>Etat</th>
          <th>Date de création</th>
          <th>Mot de passe</th>
          <th>Rejoindre</th>
        </tr>
      </table>
    </div>
    <div id="errorBox">
      <p id="errorText"></p>
    </div>
  
  <script type="text/javascript" src="/static/js/lobby/unified.js"></script>
</body>
</html>


