
:root {
  --primary: #123456;
  --secondary: #654321;
}

html {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}


img {
  max-width: 100px;
  max-height: 100px;
  background-color: #abb8c3;
  margin-top: 5px;
}


/* ROOM CREATION MODAL */

#creation-modal {
  display: none;
  position: absolute;
  top: -1%;
  left: -1%;
  width: 101%;
  height: 101%;
  background-color: rgba(200, 200, 200,  0.95);
}

#back-container {
  background-color: #fffee8;
  margin-top: 10px;
  width: 101%;
  left: 35%;
  top: 10%;
  width: 600px;
  height: 600px;
  position: relative;
  border-left: solid 1px var(--secondary);
  border-top: solid 1px var(--secondary);
  border-right: solid 3px var(--secondary);
  border-bottom: solid 3px var(--secondary);
  border-radius: 10px;
  display: flex;
}

#container {
  margin: auto;
}

.type-container label select {
  display: block;
}


/* switch  */

.switch-button {
  background: rgba(200, 200, 200, 0.95);
  border-radius: 30px;
  border: solid 3px var(--secondary);
  overflow: hidden;
  width: 240px;
  font-size: 18px;
  letter-spacing: 1px;
  color: var(--secondary);
  position: relative;
  padding-right: 120px;
  position: relative;
  margin-bottom: 20px;
  margin-left: 60px;
  font-weight: bold;
}

.switch-button span {
  padding-left: 40px;
}

.switch-button:before {
  content: "Inventaire";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -17px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}
.switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}


.switch-button-checkbox:checked + .switch-button-label:before {
  transform: translateX(180px);
  transition: transform 300ms linear;
}
.switch-button-checkbox + .switch-button-label {
  position: relative;
  padding: 15px 0;
  display: block;
  user-select: none;
  pointer-events: none;
}
.switch-button-checkbox + .switch-button-label:before {
  content: "";
  background: var(--primary);
  height: 100%;
  width: 80%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  transform: translateX(0);
  transition: transform 300ms;
}
.switch-button-checkbox + .switch-button-label .switch-button-label-span {
  position: relative;
}


#container h5 {
  font-size: 16px;
  margin-bottom: 5px;
}


.inputs {
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 500px;
  height: 30px;
  border: solid 3px var(--secondary);
  border-radius: 30px;
  border-color: var(--secondary);
  background-color: #fff;
  font-size: 16px;
  font-weight: bold;
}

#purchases {
  height: 40px;
}

#rayons {
  height: 40px;
}

#creation-info {
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
}

#modal-button {
  margin-top: 60px;
  position: relative;
}

#modal-button button {
  position: relative;
  left: 17%;
  border-left: solid 1px var(--secondary);
  border-top: solid 1px var(--secondary);
  border-right: solid 3px var(--secondary);
  border-bottom: solid 3px var(--secondary); 
  border-radius: 10px;
  height: 50px;
  width: 150px;
  padding: 5px 10px 5px 10px;
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 16px;
  font-weight: bold;
}

#modal-button button:hover {
  cursor: pointer;
  color: var(--primary);
  background-color: var(--secondary);
}

#createRoom {
  margin-left: 20px;
}


/* HEADER */

#head {
  width: 101%;
  position: relative;
  left: -10px;
  top: -10px;
  list-style-type: none;
  overflow: auto;
  background-color: var(--primary);
  border-bottom: solid 2px var(--secondary);
}




.head-content {
  display: inline;
  vertical-align: middle;
}

#login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
}

#login {
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  padding: 14px 16px;
  text-decoration: none;
  color: var(--secondary);
  font-size: 20px;
  background-color: var(--primary);
  border-bottom-left-radius: 10px;
}

#login-container :hover {
  color: white;
  background-color: var(--secondary);
}

/* management buttons */
#room-management, #room-assembler {
  margin-left: 20px;
}

.mngmnt-btn {
  margin: 10px 10px 50px 5px;
  padding: 5px 10px 5px 10px;
  height: 40px;
  border-left: solid 1px var(--secondary);
  border-top: solid 1px var(--secondary);
  border-bottom: solid 3px var(--secondary);
  border-right: solid 3px var(--secondary);
  border-radius: 10px;
  background-color: var(--primary);
  font-weight: bold;
  font-size: 14px;
}

.mngmnt-btn:hover {
  cursor: pointer;
  color: white;
  background-color: var(--secondary);
  color: var(--primary);
}

#create-btn {
  margin-left: 10px;
}


/* TABLE */
#checkAll {
  all: unset;
}

#checkAll:hover {
  cursor: pointer;
}

h3 {
  margin-left: 30px;
  margin-top: 20px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 80%;
  margin-left: 20px;
}

#room-historic {
  margin-bottom: 50px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  text-align: center;
  background-color: var(--primary);
  color: var(--secondary);
  border-bottom: 2px solid var(--secondary);
  border-top: 2px solid var(--secondary);
}

tr {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  width: 100%;
  border-bottom: 1px solid var(--secondary);
  text-align: center;
}

td:nth-child(3) {
  text-align: left;
  padding-left: 70px;
}

td:first-child, th:first-child {
  border-left: 2px solid var(--secondary);
}

td:last-child, th:last-child {
  border-right: 2px solid var(--secondary);
}

tr:last-child td {
  border-bottom: 2px solid var(--secondary);
}

tr:first-child th:first-child {
  border-left: 2px solid var(--secondary);
  border-top-left-radius: 10px;
}

tr:first-child th:last-child {
  border-right: 2px solid var(--secondary);
  border-top-right-radius: 10px;
}

tr:last-child td:first-child {
  border-left: 2px solid var(--secondary);
  border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
  border-right: 2px solid var(--secondary);
  border-bottom-right-radius: 10px;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}

.password {
  border: solid 2px var(--secondary);
  border-radius: 10px;
  background-color: #fffee8;
  font-size: 15px;
  font-weight: bold;
}

.join-btn {
  background-color: var(--primary);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  border-left: solid 1px var(--secondary);
  border-top: solid 1px var(--secondary);
  border-bottom: solid 3px var(--secondary);
  border-right: solid 3px var(--secondary);
  color: var(--secondary);
  font-weight: bold;
}

.join-btn:hover {
  cursor: pointer;
  background-color: var(--secondary);
  color: var(--primary);
}


#errorBox {
  margin: auto;
  width: 80%;
  text-align: center;
  border-radius: 5px;
  color: red;
}

#historic {
  margin-top: 70px;
}

