
:root {
    --primary: #CDE6F5;
    --primary-shade: #DDEEF8;
    --secondary: #3C312E;

    --items-open: #9EE493;  
    --itemshover-open: #6CD65C;

    --items-close: #F9B5AC;  
    --itemshover-close: #F47766;

    --items-done: #1AC7C4;  
    --itemshover-done: #107E7D;

    --head-w: 60%;
    --main-w: 35%;
}

html {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    background-color: var(--primary);
}

main {
    margin: 0 auto;
    margin-top: 5%;
    width: var(--main-w);
}

@media (hover: none) and (pointer: coarse) and (orientation: portrait) { 
    :root {
        --head-w: 100%;
        --main-w: 100%;
    }
}

@media (hover: none) and (pointer: coarse) and (orientation: landscape) { 
    :root {
        --head-w: 80%;
        --main-w: 80%;
    }
}



.container {
    padding: 20px 25px 20px 25px;
    background-color: var(--primary-shade);
}

.btn-container {
    display: block;
    margin: 30px 20px;
}

.btn-container button {
    position: relative;
    left: calc(90% - 175px);
}

