version: "3.4.2"

services:
  inventaire:
    build: .
    container_name: inventaire
    env_file: .env
    ports:
      - "8000:8000"
    networks:
      - inventaire
    volumes:
      - ./volume:/usr/src/app/volume

networks:
  inventaire:


