.header {
    margin: 0 auto;
    width: var(--head-w);
}

.header img {
    max-width: 100px;
    max-height: 100px;
    background-color: #abb8c3;
    scale: 0.5;
    border: 3px solid var(--secondary);
    border-radius: 50%;
}

.head-elm {
    display: inline;
    vertical-align: middle;
    color: var(--secondary);
}


.nav-container {
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    float: right;
    margin-top: 17px;
}

.nav {
    display: inline-block;
}

.nav-elm {
    display: block;
    position: relative;
    float: left;
    text-align: center;
}

.nav-elm:last-child {
    margin-left: 10px;
}

.nav-elm a {
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    border-bottom-left-radius: 10px;
    color: var(--secondary);
}

.nav-elm a::after {
    content: '';
    position: absolute;
    margin-left: 15px;
    width: 85%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--secondary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-elm a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}