

#head {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#head li {
  float: left;
  display: inline;
}

#title {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #04AA6D;
}

#login {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #111;
}




#creation-modal {
  background-color: aqua;
  width: 350px;
  height: 300px;
  border: solid 2px;
  border-radius: 10px;
  border-color: black;
  z-index: 1;
  display: none;
}

#container {
  position: relative;
}

#container h5 {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 20px;
}


.inputs {
  width: 200px;
  height:30px;
  padding-left: 25px;
  padding-right: 25px;
  border: solid 2px;
  border-radius: 10px;
  border-color: black;
}




#modal-button {
  text-align: right;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
}

#modal-button button {
  width: 100px;
  height: 30px;
  border: solid 2px;
  border-radius: 10px;
  border-color: black;
}
