<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" href="/static/login.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>

    <title>Login</title>
  </head>
  <body>
    <div id="logger">
      <h3 >Identifiant</h3>
      <input id="identifiant" type="text" value="">
      <h3>Mot de Passe</h3>
      <input id="password" type="password" value="">
      <button id="connection-btn">Connection</button>
      <p id="error-msg"></p>
    </div>

    <script type="text/javascript" src="/static/config.js"></script>
    <script type="text/javascript" src="/static/global_functions.js"></script>  
    <script type="text/javascript" src="/static/login.js"></script>


  </body>
</html>