
html {
    font-family: monospace;
    background-color: #CDE6F5;
}

body {
    margin: 100px auto;
    width: 50%;
}

h1 {
    font-size: 26px;
    font-weight: bolder;
}

h2 {
    font-size: 20px;
    font-weight:700;
    margin-top: 60px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

h3 {
    font-size: 16px;
    font-weight:700;
    margin-top: 40px;
    margin-left: 10px;
}

#hardware p, #odoo p, #lob p, #ro p, #lic p {
    font-size: 14px;
    line-height: 2em;
    margin-left: 15px;
}

#container {
    padding: 10px;
    border: solid 2px black;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#container p {
    font-size: 12px;
    line-height: 1.5em;
}


.main {
    margin-left: 5px;
}

.sub {
    margin-left: 20px;
}

li {
    font-size: 14px;
    line-height: 2em;
    margin-left: 15px;
}

section {
    text-justify: inter-word;
    text-align: justify;
}

