
:root {
    --primary: #CDE6F5;
    --primary-shade: #DDEEF8;
    --secondary: #3C312E;

    --items-open: #9EE493;  
    --itemshover-open: #6CD65C;

    --items-close: #F9B5AC;  
    --itemshover-close: #F47766;

    --items-done: #1AC7C4;  
    --itemshover-done: #107E7D;

    --main-w: 60%
}

/* GREEN #9EE493 -> #6CD65C */
/* theal #1AC7C4 -> #107E7D */
/* verification #F9B5AC -> #F47766 */

html {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    background-color: var(--primary);
}

#head {
    margin: 0 auto;
    width: var(--main-w);
}

main {
    margin: 100px auto;
    margin-top: 50px;
    width: var(--main-w);
}


img {
    max-width: 100px;
    max-height: 100px;
    background-color: #abb8c3;
    scale: 0.5;
    border: 3px solid var(--secondary);
    border-radius: 50%;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!! HEADER!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
#head h1{
    color: #3C312E;
}

.head-content {
    display: inline;
    vertical-align: middle;
}


#fields-container {
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    float: right;
    margin-top: 17px;
}

#fields-container ul {
    display: inline-block;
}

#fields-container li {
    display: block;
    position: relative;
    float: left;
    text-align: center;
}

#login {
    margin-left: 10px;
}

#login, #doc {
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    border-bottom-left-radius: 10px;
    color: var(--secondary);
}

#login::after, #doc::after {
    content: '';
    position: absolute;
    margin-left: 15px;
    width: 85%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--secondary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#login:hover::after, #doc:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!TABLES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


.table-container {
    margin-bottom: 50px;
    width: 100%;
}

.table-header-container {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 1fr;
    width: 100%;
}


.table-header-container h2 {
    color: var(--secondary);
    padding-left: 30px;
    grid-column: 0;
}

#open-table-content-container {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    background-color: var(--primary-shade);
    border-top: solid 1px var(--secondary);
    border-right: solid 3px var(--secondary);
    border-bottom: solid 3px var(--secondary);
    border-left: solid 1px var(--secondary);
    border-radius: 5px;
    list-style-type: none;
}

.col-header-container {
    width: 100%;
    background-color: var(--secondary);
    color: var(--primary);
}

.col-header {
    display: grid;
    grid-template-columns: 5% 17% 32% 8% 15% 18%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px 10px 20px;
    min-height: 30px;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;

}

#room-table {
    margin: 5px 20px 5px 20px;
    padding: 10px 20px 10px 20px;
    min-height: 30px;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
}

.placeholder {
    min-height: 50px;
    background-color: var(--items-done);
    border-top: solid 1px var(--secondary);
    border-right: solid 3px var(--secondary);
    border-bottom: solid 3px var(--secondary);
    border-left: solid 1px var(--secondary);
    border-radius: 5px;
    margin: 10px;
}

.placeholder p {
    color: var(--secondary);
    margin-left: calc(50% - 57px);
    font-size: 0.9em;
    font-weight: bold;
    width: 110px;
}

.placeholder:hover {
    background-color: var(--itemshover-done);
    transition: background-color 0.2s ease;
}

.purchase {
    min-height: 50px;
    display: grid;
    grid-template-columns: 5% 0% 17% 0% 32% 0% 8% 0% 15% 0% 18% 5%;
    border-top: solid 1px var(--secondary);
    border-right: solid 3px var(--secondary);
    border-bottom: solid 3px var(--secondary);
    border-left: solid 1px var(--secondary);
    border-radius: 5px;
    margin: 10px;
}

.open {
    background-color: var(--items-open);
}

.open:hover {
    transition: background-color 0.2s ease;
    background-color: var(--itemshover-open);
}

.close {
    background-color: var(--items-close);
}

.close:hover {
    transition: background-color 0.2s ease;
    background-color: var(--itemshover-close);
}

.done {
    background-color: var(--items-done);
}

.done:hover {
    transition: background-color 0.2s ease;
    background-color: var(--itemshover-done);
}

.grid-cell, .header-cell {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-cell {
    font-weight: bold;
}

.header-cell:hover {
    cursor: pointer;
    color: var(--itemshover-open);
    transition: color 0.2s ease;
}

.order {
    font-size: 12px;
}

.grid-cell:not(.check) {
    margin-left: 5px;
    max-width: 97%;
    min-width: 20%;
}

.grid-cell-btn {
    height: 100%;
    display: flex;
}

.long {
    word-break: break-all;   
}

.padding {
    padding: 0px 7px 3px 7px;
}

.check input {
    accent-color: var(--primary);
    scale: 1.5;
}

.check input:hover {
    cursor: pointer;
}

.rpass input {
    margin-left: 5px;
    max-width: 97%;
    min-width: 20%;
    background-color: var(--primary);
    border: 2px solid var(--secondary);
    border-radius: 5px;
    height: 25px;
}

.raccess {
    margin-top: -1px;
}

.raccess a {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.raccess button {
    border: none;
    background: none;
}

.arrow {
    border: solid var(--secondary);
    scale: 2;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.raccess:hover {
    cursor: pointer;
    transform: translate(10px);
    transition: transform 0.3s ease-in-out;
}

.arrow:hover {
    cursor: pointer;
}

.separator {
    border-left:  2px solid var(--secondary);
    height: calc(100% - 20px);
    position: relative;
    top: 10px;
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!ADMIN WRAPPER!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.admin-container {
    margin: 10px 0;
}

.wrapper {
    width: 60%;
    float: right;
}

.management {
    display: inline-block;    
    float: right;
}

.mngmnt-btn {
    min-width: 100px;
    height: 35px;
    margin-left: 5px;
    /* border: solid 3px var(--secondary); */


    border-top: solid 1px var(--secondary);
    border-right: solid 3px var(--secondary);
    border-bottom: solid 3px var(--secondary);
    border-left: solid 1px var(--secondary);

    border-radius: 5px;

    background-color: var(--items-open);

    font-weight: bold;
    font-size: 0.9em;
}

.mngmnt-btn:hover {
    cursor: pointer;
    background-color: var(--itemshover-open);
    transition: background-color 0.2s ease-in-out;
}

.search {
    display: inline-block;
    width: 40%;
  }
.searchbar {
    width: 80%;
    height: 30px;
    padding-left: 10px;
    border-top: solid 1px var(--secondary);
    border-right: solid 3px var(--secondary);
    border-bottom: solid 3px var(--secondary);
    border-left: solid 1px var(--secondary);

    border-radius: 5px;
    color: var(--secondary);
    background-color: var(--primary-shade);
    outline: none;
    font-weight: bold;
    font-size: 0.9em;
}

.reset-searchbar {
    width: 35px;
    height: 38px;
    margin-left: -10px;
    background-color: var(--secondary);
    color:var(--primary) ;
    border-top: solid 1px var(--secondary);
    border-right: solid 3px var(--secondary);
    border-bottom: solid 3px var(--secondary);
    border-left: solid 1px var(--secondary);
    border-radius: 5px;
    font-size: 20px;
    /* padding-top: 1px; */
    padding-bottom: 4px;
}

.reset-searchbar:hover {
    cursor: pointer;
    background-color: var(--itemshover-close);
    border-top: solid 1px var(--itemshover-close);
    border-right: solid 3px var(--itemshover-close);
    border-bottom: solid 3px var(--itemshover-close);
    border-left: solid 1px var(--itemshover-close);
    color: var(--secondary);
    font-size: 20px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!CREATION MODAL!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


/* ROOM CREATION MODAL */

#creation-modal {
    display: none;
}

.modal-blur {
    position: absolute;
    top: -1%;
    left: -1%;
    width: 101%;
    height: 101%;
    background-color: rgba(250,255,250,0.95);
}

.modal {
    background-color: var(--primary-shade);
    margin-top: 10px;
    width: 101%;
    left: 35%;
    top: 10%;
    width: 600px;
    height: 600px;
    position: relative;
    border-left: solid 1px var(--secondary);
    border-top: solid 1px var(--secondary);
    border-right: solid 3px var(--secondary);
    border-bottom: solid 3px var(--secondary);
    border-radius: 10px;
    display: flex;
}

.modal-inner-container {
    margin: auto;
}

.selector-container label select {
    display: block;
}

/* switch  */

.switch-button {
    background: rgba(200, 200, 200, 0.95);
    background-color: var(--primary);
    border-radius: 30px;
    border: solid 3px var(--secondary);
    overflow: hidden;
    width: 240px;
    font-size: 18px;
    letter-spacing: 1px;
    color: var(--secondary);
    position: relative;
    padding-right: 120px;
    position: relative;
    margin-bottom: 20px;
    margin-left: 60px;
    font-weight: bold;
}

.switch-button span {
    padding-left: 40px;
}

.switch-button:before {
    content: "Inventaire";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -17px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
}
.switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}


.switch-button-checkbox:checked + .switch-button-label:before {
    transform: translateX(180px);
    transition: transform 300ms linear;
}
.switch-button-checkbox + .switch-button-label {
    position: relative;
    padding: 15px 0;
    display: block;
    user-select: none;
    pointer-events: none;
}
.switch-button-checkbox + .switch-button-label:before {
    content: "";
    background: var(--items-open);
    height: 100%;
    width: 80%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px;
    transform: translateX(0);
    transition: transform 300ms;
}


.switch-button-checkbox + .switch-button-label .switch-button-label-span {
    position: relative;
}

.inputs {
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 500px;
    height: 30px;
    border: solid 3px var(--secondary);
    border-radius: 5px;
    border-color: var(--secondary);
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.selector {
    height: 40px;
    width: 510px;
}

.modal-button-container {
    margin-top: 60px;
    position: relative;
}

.modal-button {
    position: relative;
    left: 17%;
    border-left: solid 1px var(--secondary);
    border-top: solid 1px var(--secondary);
    border-right: solid 3px var(--secondary);
    border-bottom: solid 3px var(--secondary); 
    border-radius: 10px;
    height: 50px;
    width: 150px;
    padding: 5px 10px 5px 10px;
    background-color: var(--items-open);
    color: var(--secondary);
    font-size: 16px;
    font-weight: bold;
}

.modal-button:hover {
    cursor: pointer;
    color: var(--secondary);
    background-color: var(--itemshover-open);
    transition: background-color 0.2s ease;
}

#createRoom {
    margin-left: 20px;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!MESSAGE BOX ERR & OK!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.msg-container {
    margin: 10px;
    border-radius: 5px;  
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

.msg-symbol {
    width: 32px;
    height: 32px;
}

.err {
    background-color: var(--items-close);
    border-left: solid 1px var(--itemshover-close);
    border-top: solid 1px var(--itemshover-close);
    border-right: solid 3px var(--itemshover-close);
    border-bottom: solid 3px var(--itemshover-close);
}

.ok {
    background-color: var(--items-open);
    border-left: solid 1px var(--itemshover-open);
    border-top: solid 1px var(--itemshover-open);
    border-right: solid 3px var(--itemshover-open);
    border-bottom: solid 3px var(--itemshover-open);
}

.msg {
    font-size: 1em;
    line-height: 1.5em;
    text-justify: inter-character;
}

.msg-comp {
    display: inline-block;
}

.msg-quit {
    float: right;
    border: none;
    background: none;
    color: var(--secondary);
    font-weight: bold;
    font-size: 1em;
    vertical-align: top;
}

.msg-quit:hover {
    cursor: pointer;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!CONFIRMATION MODAL!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

#confirmation-modal {
    position: absolute;
    top: -5px;
    left: -5px;
    height: 101%;
    width: 101%;
    z-index: 998;
    background-color: rgba(250,255,250,0.95);
    opacity: 95%;
  }

#confirmation-container {
    margin: auto;
    height: 250px; /* 250px */
    width: 300px; /* 300px */
    background-color: var(--primary-shade);
    border-radius: 5px;
    border-top: solid 1px var(--secondary);
    border-right: solid 3px var(--secondary);
    border-bottom: solid 3px var(--secondary);
    border-left: solid 1px var(--secondary);
  }
  
  #confirmation-container-heading {
    /* position: relative;
    top: -16px; */
    margin-top: -16px;
    height: 50px;
    line-height: 50px;
    background-color: var(--secondary);
    color: var(--primary);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  
  #confirmation-container-heading p {
    padding-left: 10px;
  }
  
  #confirmation-container-content {
    margin-top: -3px;
    height: calc(100% - 100px); /* 150px */
    background-color: var(--primary-shade);
    white-space: pre-line;
    text-align: center;
    overflow-y: auto;
  }
  
  #confirmation-container-content p {
  margin: 3px;
  padding: 10px;
  font-size: 20px;
  }
  
  #confirmation-container-btn {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin: 0 auto;
    text-align: center;
  }
  
  #confirmation-container-btn button {
    border-radius: 5px;
    background-color: var(--items-open);
    color: var(--secondary);
    border-top: solid 1px var(--secondary);
    border-right: solid 3px var(--secondary);
    border-bottom: solid 3px var(--secondary);
    border-left: solid 1px var(--secondary);
    width: 100px;
    height: 30px;
    padding: 3px 7px 5px 3px;
  }
  
  #confirmation-container-btn button:hover {
    cursor: pointer;
    background-color: var(--itemshover-open);
    transition: background-color 0.2s ease;
  }
  
  #cancel-confirmation {
    position: relative;
    left: -15px;
  }
  
  #accept-confirmation {
    position: relative;
    left: 15px;
  }