<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scannettes | Lobby</title>
    <link rel="stylesheet" media="all" href="/static/css/lobby_v2.css">
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
</head>

<body>
    <div id="head">
        <div id="head-container">
            <img class="head-content" src="../static/misc/superquinquin_logo2.png"><!--  {{url_for('static', filename='misc/superquinquin_logo2.png')}} -->
            <h1 id="title" class="head-content">Scannettes</h1>
            <div id="fields-container">
                <ul id="head-fields">
                    <li><a id="doc" class="head-content" href="{{ url_for('cannettes_bp.doc') }}"><strong>Documentation</strong></a></li>
                    <li><a id="login" class="head-content" href="{{ url_for('cannettes_bp.login') }}"><strong>Se connecter</strong></a></li>
                </ul>
            </div>
        </div>
    </div> 
    <main>
        <div id="open-container" class="table-container">
            <div class="table-header-container">
                <h2>Salons Ouverts</h2>
            </div>
            <ul id="open-table-content-container">
                <div class="col-header-container">
                    <div class="col-header">
                        <div class="header-cell">&#9989;</div>
                        <div class="header-cell">Nom&ensp;<span id="rname-order" class="order">-</span></div>
                        <div class="header-cell">Commande / Inventaire&ensp;<span id="pname-order" class="order">&#9650;</span></div>
                        <div class="header-cell">Statut&ensp;<span id="state-order" class="order">&#9660;</span></div>
                        <div class="header-cell">Date&ensp;<span id="date-order" class="order">-</span></div>
                        <div class="header-cell">Mot de passe</div>
                    </div>
                </div>
                <li>
                    <div otype="inv" oid="0" rid="room0" class="purchase open">
                        <div class="grid-cell check"><input type="checkbox"></div>
                        <div class="separator"></div>
                        <div class="grid-cell rname">room0</div>
                        <div class="separator"></div>
                        <div class="grid-cell long pname">PO08210 - Frais</div>
                        <div class="separator"></div>
                        <div class="grid-cell pstate">Open</div>
                        <div class="separator"></div>
                        <div class="grid-cell pdate">29/09/2023</div>
                        <div class="separator"></div>
                        <div class="grid-cell rpass"><input type="password" autocomplete="off" placeholder="Mot de passe..."></div>
                        <div class="grid-cell-btn raccess">
                            <button><i class="arrow right"></i></button>
                        </div>
                    </div>
                    <div otype="inv" oid="0" rid="room0" class="purchase close">
                        <div class="grid-cell check"><input type="checkbox"></div>
                        <div class="separator"></div>
                        <div class="grid-cell rname">room0</div>
                        <div class="separator"></div>
                        <div class="grid-cell long pname">PO08210 - Frais</div>
                        <div class="separator"></div>
                        <div class="grid-cell pstate">Open</div>
                        <div class="separator"></div>
                        <div class="grid-cell pdate">29/09/2023</div>
                        <div class="separator"></div>
                        <div class="grid-cell rpass"><input type="password" autocomplete="off" placeholder="Mot de passe..."></div>
                        <div class="grid-cell-btn raccess">
                            <button><i class="arrow right"></i></button>
                        </div>
                    </div>
                    <div otype="inv" oid="0" rid="room0" class="purchase done">
                        <div class="grid-cell check"><input type="checkbox"></div>
                        <div class="separator"></div>
                        <div class="grid-cell rname">room0</div>
                        <div class="separator"></div>
                        <div class="grid-cell long pname">PO08210 - Frais</div>
                        <div class="separator"></div>
                        <div class="grid-cell pstate">Open</div>
                        <div class="separator"></div>
                        <div class="grid-cell pdate">29/09/2023</div>
                        <div class="separator"></div>
                        <div class="grid-cell rpass"><input type="password" autocomplete="off" placeholder="Mot de passe..."></div>
                        <div class="grid-cell-btn raccess">
                            <button><i class="arrow right"></i></button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </main>

    <script type="text/javascript" src="/static/js/config.js"></script>
    <script type="text/javascript" src="/static/js/test_v2.js"></script>
</body>
</html>