<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" href="/static/css/login.css">
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>

    <title>Login</title>
  </head>
  <body>
    <div id="logger">
      <div class="field">
        <label for="identifiant">Identifiant: </label>
        <input id="identifiant" type="text" value="">
      </div>
      <div class="field">
        <label for="password">Mot de passe: </label>
        <input id="password" type="password" value="">
      </div>
      <button id="connection-btn">Connexion</button>
      <p id="error-msg"></p>
    </div>

    <script type="text/javascript" src="/static/js/login/unified.js"></script>
  </body>
</html>