<!DOCTYPE html>
<html id="html" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scannettes | room</title>
    <link rel="stylesheet" media="all" href="/static/css/room_v2.css">
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
</head>
<body>
    <div id="head">
        <div id="head-container">
            <div class="app-header">
                <img class="head-content" src="{{url_for('static', filename='misc/superquinquin_logo2.png')}}"><!--   -->
                <h1 id="title" class="head-content">Scannettes</h1>
            </div>
        </div>
    </div> 
    <main>
        <section id="menu" class="menu-container">
            <div id="info" class="room-info"></div>
            <div class="room-menu">
                <div class="room-scanners">
                    <button id="camera" class="scanner-btn"><img src="/static/misc/camera-icon.png"></button>
                    <button id="laser" class="scanner-btn"><img src="/static/misc/laser-icon.png"></button>
                </div>
                <div id="actions" class="room-actions"></div>
            </div>
        </section>

        <section id="initial" class="section-container">
            <button class="collaps-block">Produits Initiaux</button>
            <div class="container">
                <div class="inner-wrapper">
                    <div class="admin-container">
                        <div class="search">
                            <input id="searchbar" class="searchbar" type="text" placeholder="Rechercher un produit / code-barres..." onkeyup="searchRoom(event)">
                            <button id="reset-searchbar" class="reset-searchbar" onclick="resetSearch('purchased')">&#10006</button>
                        </div>
                        <div class="wrapper">
                            <div class="management">
                                <button id="del" class="mngmnt-btn" onclick="delSelRooms()">Supprimer</button>
                            </div>
                        </div>
                    </div>
                    <div class="placeholder-container"></div>
                    <div id="initial-products" class="products-container"></div>
                </div>
            </div>
        </section>

        <section id="done" class="section-container">
            <button class="collaps-block">Produits vérifiés</button>
            <div class="container">
                <div class="inner-wrapper">
                    <div class="admin-container">
                        <div class="search">
                            <input id="searchbar" class="searchbar" type="text" placeholder="Rechercher un produit / code-barres..." onkeyup="searchRoom(event)">
                            <button id="reset-searchbar" class="reset-searchbar" onclick="resetSearch('purchased')">&#10006</button>
                        </div>
                        <div class="wrapper">
                            <div class="management">
                                <button id="del" class="mngmnt-btn" onclick="delSelRooms()">Supprimer</button>
                            </div>
                        </div>
                    </div>
                    <div class="placeholder-container"></div>
                    <div id="done-products" class="products-container"></div>
                </div>
            </div>
        </section>

    </main>

    <script type="text/javascript" src="/static/js/config.js"></script>
    <script type="text/javascript" src="/static/js/room_admin_v2.js"></script>
</body>
</html>